@model SporSalonuYonetim.Models.Hizmet

@{
    ViewData["Title"] = "Hizmet Detayı";
}

<div class="container mt-4">
    <h1>Hizmet Detayları</h1>
    <hr />
    <div class="card shadow-sm">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Ad)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Ad)
                </dd>

                <dt class="col-sm-3 fw-bold">
                    @Html.DisplayNameFor(model => model.Ucret)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Ucret) ₺
                </dd>

                <dt class="col-sm-3 fw-bold">
                    Süre
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SureDakika) Dakika
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.HizmetId" class="btn btn-warning">Düzenle</a> <span>|</span>
            }
            <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
        </div>
    </div>
</div>